<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ia.epsi.akinator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name="ia.epsi.akinator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="ia.epsi.akinator.GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="ia.epsi.akinator.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="ia.epsi.akinator.EndGameActivity"
            android:label="@string/title_activity_end_game" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="ia.epsi.akinator.LearnCharacterActivity"
            android:label="@string/title_activity_learn_character" >
        </activity>
        <activity android:name=".StatsActivity" />
        <activity android:name=".PropositionsActivity" />
    </application>

</manifest>
